@model WikipediaMaze.ViewModels.PuzzleListViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

@section OptionalHeadContent
{
    <link rel="alternate" type="application/atom+xml" title="Feed for @Model.PageTitle" href="@Url.Action("puzzles", "feeds", new { sortType = Model.SortType })" />
}

@section SectionTitle
{
    <h2>@Model.PaginatedPuzzles.TotalItems Puzzles</h2>
    <div class="tabs">
            <a class="@(Model.SortType == PuzzleSortType.Newest ? "selected" : "")" href="@Url.Action("Index", new { sortType = PuzzleSortType.Newest, id = ViewData["id"], themes = ViewData["themes"]})">newest</a>
            <a class="@(Model.SortType == PuzzleSortType.Level ? "selected" : "")" href="@Url.Action("Index", new { sortType = PuzzleSortType.Level, id = ViewData["id"], themes = ViewData["themes"]})">steps</a>
            <a class="@(Model.SortType == PuzzleSortType.Solutions ? "selected" : "")" href="@Url.Action("Index", new { sortType = PuzzleSortType.Solutions, id = ViewData["id"], themes = ViewData["themes"]})">solutions</a>
            <a class="@(Model.SortType == PuzzleSortType.Votes ? "selected" : "")" href="@Url.Action("Index", new { sortType = PuzzleSortType.Votes, id = ViewData["id"], themes = ViewData["themes"]})">votes</a>
    </div>
}

<div id="column-left">
    @{Html.RenderPartial("PuzzleList", Model);}
</div>
<div id="column-right">
    <div id="contact-us">
        <h3>Connect With Us</h3>
        <ul>
            <li class="twitter"><a href="http://www.twitter.com/wikipediamaze" target="_blank" title="Follow us on twitter @@WikipediaMaze">Twitter</a></li>
            <li class="facebook"><a href="http://www.facebook.com/pages/Wikipedia-Maze/121337846250" target="_blank" title="Facebook Fan Page">Facebook</a></li>
        </ul>            
    </div>
    @{Html.RenderAction("Sidebar", "Sidebar");}
</div>
