@model UserProfileSolutionListViewModel

@section Sectiontitle { }

<div id="solutions">
    <div class="section-title">
        <h3>@Model.Solutions.TotalItems Solutions</h3>
        <div id="solution-list-tabs" class="tabs">
            <a class="@(Model.SortType == SolutionSortType.Newest ? "selected" : "")" href="@Url.Action("UserDisplaySolutions", new { sortType = SolutionSortType.Newest, id = Model.ProfileId })">newest</a>
            <a class="@(Model.SortType == SolutionSortType.Steps? "selected" : "")" href="@Url.Action("UserDisplaySolutions", new { sortType = SolutionSortType.Steps, id = Model.ProfileId })">steps</a>
            <a class="@(Model.SortType == SolutionSortType.PointsAwarded ? "selected" : "")" href="@Url.Action("UserDisplaySolutions", new { sortType = SolutionSortType.PointsAwarded, id = Model.ProfileId })">points</a>
        </div>
    </div>
    <div id="user-display-solutions">
        <table>
            <tr>
                <td valign="top">
                @for (var u = 0; u < Model.Solutions.Count(); u++)
                {
                    var solution = Model.Solutions.ElementAt(u);
                
                    <div class="user-display-solution" title="@solution.Puzzle.StartTopic.FormatTopic() to @solution.Puzzle.EndTopic.FormatTopic()">
                    @Html.Hidden("user-display-solution", solution.PuzzleId)
                    <p class="level"><span>@solution.StepCount.FormatInteger()</span> Steps</p>
                    <p class="points-awarded"><span>@solution.PointsAwarded.FormatInteger()</span> Points</p>
                    <div class="user-display-solution-puzzle-detail">
                    <p><span class="start">From</span> @solution.Puzzle.StartTopic.FormatTopic()</p>
                    <p><span class="end">To</span> @solution.Puzzle.EndTopic.FormatTopic()</p>
                    </div>
                </div>
                        
                    if ((u + 1) % 9 == 0)
                    {
                        @Html.Raw("</td>");

                        if (u != Model.Solutions.Count() - 1)
                        { 
                            @Html.Raw("<td  valign=\"top\">");
                        }
                    }
                }
            </tr>
        </table>
        <div id="solution-list-pager" class="pager">
            @Html.Raw(Html.Pager(Model.Solutions, "UserDisplaySolutions", "Players", new RouteValueDictionary { { "sortType", Model.SortType },{"id", Model.ProfileId} }))
        </div>
    </div>
</div>

<script type="text/javascript">
    $().ready(function() {
        $("#solution-list-tabs a, #solution-list-pager a").click(function() {

            var url = $(this).attr("href");

            $.ajax({
                type: "GET",
                url: url,
                dataType: "html",
                cache: false,
                success: function(data) {
                    $("#solutions").html(data);

                    $.scrollTo("#solutions", 400);
                }
            });

            return false;
        });
    });
</script>