@model PuzzleListViewModel

@{
    var i = -1;
    foreach (var puzzle in Model.PaginatedPuzzles)
    {
        i++;
        bool isAlternateRow = (i%2 != 0);
        
    <div id="puzzle-@puzzle.PuzzleId" class="puzzle-row-wrapper @if(Model.IsLeadingPuzzle(puzzle.PuzzleId)) { <text>leader</text> } @if(isAlternateRow) { <text>alternate</text> }" @if(Model.IsLeadingPuzzle(puzzle.PuzzleId)) { <text>title="You are currently leading this puzzle"</text> }>
        @*<iframe src="http://www.facebook.com/plugins/like.php?href=www.wikipediamaze.com/puzzles/@(puzzle.PuzzleId)&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>*@
        <div class="puzzle-row">
            <div class="votes-arrows">
               <input type="hidden" value="@puzzle.PuzzleId" />
               <span class="vote-up" title="This puzzle is fun and interesting. (Click again to undo)">Vote Up</span>
               <span class="vote-down" title="This puzzle is a waste of time. (Click again to undo)">Vote Down</span>
            </div>
            <div class="votes" title="Number of votes for this puzzle.">
                <span>@puzzle.VoteCount.FormatInteger()</span>
                <h4>Votes</h4>
            </div>
            <div class="level" title="The level of difficulty of this puzzle. The average number of steps it takes to complete.">
                <span>@puzzle.Level.FormatInteger()</span>
                <h4>Average Steps</h4>
            </div>
            <div class="solutions" title="The number of times this puzzle has been solved.">
                <span>@puzzle.SolutionCount.FormatInteger()</span>
                <h4>Times Solved</h4>
            </div>
            <div class="puzzle-detail">
                <table>
                    <tr title="The starting topic for this puzzle.">
                        <td class="start">From</td>
                        <td class="title"><a href="@Url.Action("continue", "game", new { topic = puzzle.StartTopic.FormatTitleForUrl()})" target="_blank">@puzzle.StartTopic.FormatTopic()</a></td>
                    </tr>
                    <tr title="The topic you must find to complete the puzzle">
                        <td class="end">To</td>
                        <td class="title"><a href="@Url.Action("continue", "game", new { topic = puzzle.EndTopic.FormatTitleForUrl()})" target="_blank">@puzzle.EndTopic.FormatTopic()</a></td>
                    </tr>
                </table>     
            </div>
            <div class="puzzle-row-info">
                <div class="puzzle-links">
                    @Html.ActionLink("Solve", "start", new { controller = "game", id = puzzle.PuzzleId }, new { @class = "start", title = "Solve this puzzle" })
                    @Html.ActionLink("View", "display", new { controller = "puzzles", id = puzzle.PuzzleId }, new { @class = "view", title = "View the stats on this puzzle" })
                </div>   
                <div class="puzzle-user-info">
                    <span>Created @puzzle.DateCreated.FormatDate() by</span>
                    <img height="30" width="30" src="@Html.Raw(puzzle.GetCreatorGravatarUrl(30))" alt="Gravatar" />
                    <ul>
                        <li>@Html.ActionLink(puzzle.UserName, "display", new { controller = "Players", id = puzzle.CreatedById, userName = puzzle.UserName.FormatTitleForUrl() })</li>
                        <li class="reputation" title="Your Reputation Score">@puzzle.Reputation.FormatInteger()</li> 
                    </ul>
                    <ul class="accomplishments">
                        <li class="leading-star" title="Number of puzzles you are leading">@puzzle.LeadingPuzzleCount</li>
                        <li class="gold" title="Number of Gold Badges">@puzzle.GoldBadgeCount</li>
                        <li class="silver" title="Number of Silver Badges">@puzzle.SilverBadgeCount</li>
                        <li class="bronze" title="Number of Bronze Badges">@puzzle.BronzeBadgeCount</li>
                    </ul>
                </div>  
            </div>  
        @if(puzzle.Themes.Count() > 0)
        {
            <ul class="puzzle-row-themes">
                
            @foreach (var theme in puzzle.ThemeList) {
                <li>@Html.ActionLink(theme, "themed", new RouteValueDictionary{{"controller", "puzzles"},{"themes", theme}})</li>
            }
                
            </ul>
        }
        </div>
     </div>
     
    
    <script type="text/javascript">
        var puzzleIds = [@(string.Join(",", Model.PaginatedPuzzles.Select(x => x.PuzzleId)))]
    </script>
    
    }
}
    <div class="pager">
        @Html.Raw(Html.Pager(Model.PaginatedPuzzles, "index", "puzzles", new RouteValueDictionary { { "sortType", Model.SortType }, { "pageSize", Model.PaginatedPuzzles.PageSize }, { "themes", ViewData["themes"] } }))
        <ul class="page-size">
            <li>@Html.ActionLink("15", "index", new RouteValueDictionary { { "sortType", Model.SortType }, { "pageSize", 15 }, { "themes", ViewData["themes"] } })</li>
            <li>@Html.ActionLink("30", "index", new RouteValueDictionary { { "sortType", Model.SortType }, { "pageSize", 30 }, { "themes", ViewData["themes"] } })</li>
            <li>@Html.ActionLink("50", "index", new RouteValueDictionary { { "sortType", Model.SortType }, { "pageSize", 50 }, { "themes", ViewData["themes"] } })</li>
        </ul>
    </div>